*{
	margin:0;
	padding:0;
}

body{
	color:#777;
	background:url('../img/page_bg.jpg') #e7e7e7;
	font:15px Calibri,Arial,sans-serif;
}

/* Styling the page */

#page{
	width:890px;
	margin:20px auto;
}

#topBar{
	background:url('../img/top_bar.jpg') no-repeat;
	height:41px;
	margin-bottom:15px;
}

#promoIMG{
	background:url('../img/macbookAir.jpg') no-repeat;
	height:632px;
	margin-bottom:15px;
	text-align:center;
}

#promoIMG img{
	margin-top:80px;
}